extends email-layout

block content
  h1(style='text-align:left;') Moderation Needed
  p #{user.name} flagged a report: #{violation}.
  p The reason given: #{comment}
  p Contact Email: #{user.email}
  a(href=`https://rivercollective.com/report/${report}`) Report Link
