extends layout

block content
  form.form(id='signup' action='/signup' method='POST' data-checkusername=checkusername data-jscript='signup' enctype="multipart/form-data")
    h2 Sign Up
    label(for="photo") Choose a profile picture:
    p.inputerr(id='imageErr')
    input(name='offsetX' type='number' class='--hidden')
    input(name='offsetY' type='number' class='--hidden')
    input(type="file" id="photo" name="photo" accept="image/png, image/jpeg")
    div(id="photoWrapper" class="photo-wrapper")
      div(id="photoPreview" aria-label="photo preview" tabindex="1")
        img(id="photoImage" style="top:0px; left:0px;" src='images/photos/user-default.png')
      button(class="crop-btn btn-up" aria-label="move up" onclick="cropImage(event, '#photoImage', 'top', -2)")
        img(src='/images/icons/arrow-up.png')
      button(class="crop-btn btn-right" aria-label="move right" onclick="cropImage(event, '#photoImage', 'left', 2)")
        img(src='/images/icons/arrow-right.png')
      button(class="crop-btn btn-down" aria-label="move down" onclick="cropImage(event, '#photoImage', 'top', 2)")
        img(src='/images/icons/arrow-down.png')
      button(class="crop-btn btn-left" aria-label="move left" onclick="cropImage(event, '#photoImage', 'left', -2)")
        img(src='/images/icons/arrow-left.png')
    label(for='name') Username
    input(type='text' name='name' placeholder='username' required)
    p.inputerr(id='nameErr')
    label(for='email') Email
    input(type='email' name='email' autocomplete='email' Emailplaceholder='you@example.com' required)
    p.inputerr(id='emailErr')
    label(for='origin') Home State
    select#state-select(type='text' placeholder='Select State' name='origin' required)
      option.placeholder Select Your State
      for state in states
        option(value=`${state.abbr}`) #{state.name}
    label(for="activity") Primary Activity
    select#activity-select(type='text' name='activity')
      option.placeholder Select An Activity
      option(value='fish') Fish
      option(value='float') Float
      option(value='both') Both
      option(value='other') Other
    label(for='new-password') Password
    input(type='password' name='new-password' autocomplete="current-password" placeholder='password' required)
    p.inputerr(id='passwordErr')
    div.password-strength
      p.password-strength__text(id='passwordStrengthText')
      div.password-strength__bar(id='passwordStrengthBar')
    label(for='confirm-password') Confirm Password
    input(type='password' name='confirm-password' autocomplete="confirm-password" placeholder='confirm password' required)
    p.inputerr(id='confirmErr')
    button.button.button-blue.button-medium(type='submit') Sign Up
  script.
    //globals
    let cropPositionX = 0;
    let cropPositionY = 0;
    
    function cropImage(event, img, axis, mag){
      event.preventDefault();
      img = document.querySelector(img);
      
      if (axis === 'top') {
        let currentPosY = parseInt(img.style[`${axis}`].split('px')[0]);
        cropPositionY = (mag + currentPosY);
        
        if (cropPositionY <= 0 && img.height + cropPositionY >= 100) {
          img.style[`${axis}`] = `${cropPositionY}px`;
          document.querySelector('input[name="offsetY"]').value = cropPositionY;
        }
      }
      
      if (axis === 'left') {
        let currentPosX = parseInt(img.style[`${axis}`].split('px')[0]);
        cropPositionX = (mag + currentPosX);
        
        if (cropPositionX <= 0 && img.width + cropPositionX >= 100) {
          img.style[`${axis}`] = `${cropPositionX}px`;
          document.querySelector('input[name="offsetX"]').value = cropPositionX;
        }
      }
    };
